<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Application Form</title>
</head>
<body>
<p> You are logged in as <span th:text="${user.username}"></span></p>
<form action="#" th:action="@{/apply}" th:object="${leave}" method="post">

<input type="hidden" th:id="employeeid" th:name="employeeid" th:value="${user.id}"/>
<fieldset>
	<p> Start Date: <input type="date" th:value="*{startDate}" th:field="*{startDate}" /></p>
	<p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p> 
</fieldset>
<fieldset>
	<p> End Date: <input type="date" th:value="*{endDate}"th:field="*{endDate}" /></p>
	<p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p> 
</fieldset>
	
<p> Type: <select th:field="*{leaveType}">
    <option th:value="'Annual'" th:text="Annual"></option>
    <option th:value="'Medical'" th:text="Medical"></option>
    <option th:value="'Compensation'" th:text="Compensation"></option>
</select></p>

<fieldset>
	<p> Reason: <input type="text" th:field="*{reason}" /></p>
	<p th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></p>
</fieldset> 

<input type="submit" value="Submit"/>
</form>
<p th:text="${errormsg}"></p>
<p><a th:href="@{/index}" >Back to Index</a></p>
</body>
</html>